.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  margin-right: 10px;
}

.site-title-link {
  text-decoration: none;
}

.site-title {
  font-size: 1.5rem;
  color: #343a40;
  font-style: oblique;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #007bff;
}

nav a:hover {
  text-decoration: underline;
}

nav span {
  margin-left: 10px;
  color: #343a40;
}